.footer {
  background-color: #0a2850;
  color: white;
  padding: 60px 80px;
}

.footer__content {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 103px;
  height: 39px;
  z-index: 1;
}

.footer__circle {
  position: absolute;
  top: -188px;
  left: -124px;
  background-color: #2f80ed;
  width: 340px;
  height: 340px;
  border-radius: 340px;
}

.footer__social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__social-heading {
  margin: 0 0 20px auto;
  font-weight: bold;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

.footer__social-link {
  color: white;
  text-decoration: none;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__copyright {
  margin-top: 108px;
}
