.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  max-width: 385px;
  border: none;
}

.form__label {
  font-weight: 500;
  margin: 0 auto 8px 0;
}

.form__input {
  width: 365px;
  height: 60px;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 0;
  padding-right: 0;
  border: none;
  border-radius: 4px;
  margin-bottom: 32px;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  border: none;
  border-radius: 4px;
  width: 385px;
  height: 60px;
  padding: 0;
  border-radius: 4px;
  font-weight: 500;
  line-height: 20px;
  color: white;
  background-color: #2f80ed;
  margin-bottom: 32px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
}

.form__div {
  display: flex;
  gap: 12px;
}
