.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  max-height: 800px;
  min-height: 700px;
  height: 100vh;
}

.header__title {
  position: absolute;
  max-width: 709px;
  margin: 0;
  top: 252px;
  left: 80px;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  position: absolute;
  max-width: 683px;
  margin: 0;
  top: 425px;
  left: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: auto;
}

.header__hours {
  position: absolute;
  left: 80px;
  bottom: 40px;
}

.header__address {
  position: absolute;
  right: 80px;
  bottom: 40px;
}

.header__paragraph {
  color: #838383;
  margin: 0;
}
