.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: max-content;
  min-height: 700px;
  height: 100vh;
  margin: 0 auto;
  padding-top: 100px;
  position: relative;
  z-index: 1;
}

.reservation__title {
  margin-top: 0;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  max-width: 385px;
  margin-top: 0;
  margin-bottom: 120px;
}
