.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  max-height: 800px;
  min-height: 700px;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: absolute;
  width: 105px;
  height: 39px;
  top: 30px;
  left: 30px;
}

.nav__links {
  position: absolute;
  display: flex;
  gap: 20px;
  list-style: none;
  top: 30px;
  right: 80px;
  font-weight: 500;
}

.nav__link {
  color: #000000;
  text-decoration: none;
}

.header__title {
  position: absolute;
  max-width: 709px;
  margin: 0;
  top: 252px;
  left: 80px;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  position: absolute;
  max-width: 683px;
  margin: 0;
  top: 425px;
  left: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: auto;
}

.header__hours {
  position: absolute;
  left: 80px;
  bottom: 40px;
}

.header__address {
  position: absolute;
  right: 80px;
  bottom: 40px;
}

.header__paragraph {
  color: #838383;
  margin: 0;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  max-height: 800px;
  min-height: 700px;
  height: 100vh;
}

.recipes__title {
  max-width: 580px;
  color: #ffffff;
  position: absolute;
  top: 100px;
  left: 80px;
  margin: 0;
  font-weight: 500;
  font-size: 44px;
  line-height: 30px;
}

.recipes__subtitle {
  max-width: 438px;
  color: #ffffff;
  position: absolute;
  top: 154px;
  left: 80px;
  margin: 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
}

.recipes__videos {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 294px;
  right: 160px;
  bottom: 215px;
  left: 160px;
  gap: 40px;
}

.recipes__iframe {
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  margin-top: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}
